USE [master]
GO
/****** Object:  Database [BDZAPATERIA]    Script Date: 04/06/2020 04:10:24 p.m. ******/
CREATE DATABASE [BDZAPATERIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDZAPATERIA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BDZAPATERIA.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDZAPATERIA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BDZAPATERIA_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDZAPATERIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDZAPATERIA]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 04/06/2020 04:10:24 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[CLIENTES](
	[IDCLIENTE] [int] NOT NULL,
	[NOMBRE_C] [varchar](300) NOT NULL,
	[IDENTIFICACION_C] [varchar](200) NOT NULL,
	[PAIS_C] [varchar](100) NOT NULL,
	[CORREO_E] [varchar](200) NOT NULL,
	[TELEFONO_C] [varchar](100) NOT NULL,
	[FECHA_CREACION_C] [datetime] NOT NULL,
	[USUARIO_CREACION_C] [varchar](20) NOT NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FACTURAS]    Script Date: 04/06/2020 04:10:24 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FACTURAS](
	[IDFACTURA] [int] NOT NULL,
	[IDCLIENTE] [int] NOT NULL,
	[FECHA] [date] NOT NULL,
	[SUBTOTAL1] [decimal](18, 2) NOT NULL,
	[DESCUENTO] [decimal](18, 2) NOT NULL,
	[SUBTOTAL2] [decimal](18, 2) NOT NULL,
	[IMPUESTO] [decimal](18, 2) NOT NULL,
	[TOTAL] [decimal](18, 2) NOT NULL,
	[PAGO] [decimal](18, 2) NOT NULL,
	[VUELTO] [decimal](18, 2) NOT NULL,
	[FECHA_CREACION_F] [datetime] NOT NULL,
	[USUARIO_CREACION_F] [varchar](20) NOT NULL,
	[ESTADO] [varchar](20) NULL,
 CONSTRAINT [PK_FACTURAS] PRIMARY KEY CLUSTERED 
(
	[IDFACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FACTURAS_PRODUCTOS]    Script Date: 04/06/2020 04:10:24 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FACTURAS_PRODUCTOS](
	[IDFACTURA] [int] NOT NULL,
	[NOLINEA] [int] NOT NULL,
	[IDPRODUCTO] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[COSTO_FL] [decimal](18, 2) NOT NULL,
	[PRECIO_VTA] [decimal](18, 2) NOT NULL,
	[DESCUENTO_POR_PORCENTAJE] [decimal](18, 2) NOT NULL,
	[DESCUENTO_POR_CANTIDAD] [decimal](18, 2) NOT NULL,
	[SUBTOTAL] [decimal](18, 2) NOT NULL,
	[APLICA_IMPUESTO_FL] [varchar](1) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MOVIMIENTO_INVENTARIO]    Script Date: 04/06/2020 04:10:24 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MOVIMIENTO_INVENTARIO](
	[IDMOVIMIENTO] [int] NOT NULL,
	[FECHA_M] [date] NOT NULL,
	[TIPO_M] [varchar](20) NOT NULL,
	[CONCEPTO] [varchar](100) NOT NULL,
	[IDPRODUCTO] [int] NULL,
	[CANTIDAD] [int] NULL,
 CONSTRAINT [PK_MOVIMIENTO_INVENTARIO] PRIMARY KEY CLUSTERED 
(
	[IDMOVIMIENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 04/06/2020 04:10:24 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[IDPRODUCTO] [int] NOT NULL,
	[NOMBRE_P] [varchar](200) NOT NULL,
	[PRESENTACION_P] [varchar](50) NOT NULL,
	[COSTO_P] [decimal](18, 2) NOT NULL,
	[VALOR_P] [decimal](18, 2) NOT NULL,
	[EXISTENCIA] [int] NOT NULL,
	[APLICA_IMPUESTO] [varchar](1) NOT NULL,
	[FECHA_CREACION_P] [datetime] NOT NULL,
	[USUARIO_CREACION_P] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[IDPRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 04/06/2020 04:10:24 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[USUARIO] [varchar](20) NOT NULL,
	[NOMBRE_U] [varchar](200) NOT NULL,
	[TELEFONO_U] [varchar](100) NOT NULL,
	[ROL] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_FACTURAS_CLIENTES] FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTES] ([IDCLIENTE])
GO
ALTER TABLE [dbo].[FACTURAS] CHECK CONSTRAINT [FK_FACTURAS_CLIENTES]
GO
ALTER TABLE [dbo].[FACTURAS_PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_FACTURAS_PRODUCTOS_FACTURAS] FOREIGN KEY([IDFACTURA])
REFERENCES [dbo].[FACTURAS] ([IDFACTURA])
GO
ALTER TABLE [dbo].[FACTURAS_PRODUCTOS] CHECK CONSTRAINT [FK_FACTURAS_PRODUCTOS_FACTURAS]
GO
ALTER TABLE [dbo].[FACTURAS_PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_FACTURAS_PRODUCTOS_PRODUCTOS] FOREIGN KEY([IDPRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([IDPRODUCTO])
GO
ALTER TABLE [dbo].[FACTURAS_PRODUCTOS] CHECK CONSTRAINT [FK_FACTURAS_PRODUCTOS_PRODUCTOS]
GO
ALTER TABLE [dbo].[MOVIMIENTO_INVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_MOVIMIENTO_INVENTARIO_PRODUCTOS] FOREIGN KEY([IDPRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([IDPRODUCTO])
GO
ALTER TABLE [dbo].[MOVIMIENTO_INVENTARIO] CHECK CONSTRAINT [FK_MOVIMIENTO_INVENTARIO_PRODUCTOS]
GO
USE [master]
GO
